/*------------------------------------*\
  # Default settings
\*------------------------------------*/

* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(sandybrown, saddlebrown);
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    text-align: center;

}

main {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
.wrapper {
    width: 800px;
}

/*--------------------------------*/
/*    #Navigation*/
/*--------------------------------*/

header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav {
    display: flex;
    justify-content: flex-end;
}
nav ul {
    display: flex;
    list-style: none;
}
nav a {
    text-decoration: none;
    color: white;
    margin-left: 30px;
    font-weight: bold;
    font-size: 20px;
}
nav a:hover {
    color: orange;
}

/*------------------------------------*\
  # Forms, input fields
\*------------------------------------*/

form {
    width: 400px;
    margin: 20px 0;
}

span,
form p {
    font-weight: bold;
}

.input-field,
.btn {
    border: 1px solid rgba(31, 31, 31, 0.25);
    background-color: #eee;
    border-radius: 10px;
    padding: 7px;
    margin: 5px;
}

.input-field {
    width: 100%;
}

.btn {
    background-color: tomato;
    color: white;
    min-width: 150px;
}

.error {
    color: red;
    font-size: 0.8em;
}

select.input-field {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
}

textarea.input-field {
    /*resize: none;*/
    padding: 10px;
}

/*===============*/
/* #Poo wall*/
/*==================*/

.poo_wall_box {
    position: relative;
    width: 500px;
    height: 500px;
    background-image: url("https://res.cloudinary.com/rebelwalls/image/upload/b_black,c_fill,f_auto,fl_progressive,h_533,q_auto,w_800/v1479371023/article/R10961_image1");
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.7);
}

.hanky_box {
    position: relative;
    height: 150px;
    width: 70px;
    z-index: -1;
    background-image: url("https://southparkstudios.mtvnimages.com/shared/characters/celebrities/mr-hankey.png?height=165");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(-45deg);
    top: -50px;
    left: -50px;
}

.poo_box {
    position: absolute;
    height: 10px;
    width: 10px;
}

.bg_black {
    background-color: black;
}
.bg_red {
    background-color: red;
}
.bg_green {
    background-color: green;
}
.bg_blue {
    background-color: blue;
}